<div class="col-10">
    <h1 class="text-center">Products of category {{product.CatName}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>

        <tbody>
            {{#each product}}
            <tr>
                <td>{{ProID}}</td>
                <td>{{ProName}}</td>
                <td>{{TinyDes}}</td>
                <td>{{Price}}</td>
                <td>{{Quantity}}</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>